<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="footer-grids">
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".5s">
					<h3>About Us</h3>
					<p>xxxxxxxxxxxxxxxxxxxxxxxxxxxxx<span>xxxxxxxxxxxxxxxxxxxxx
						xxxxxxxxxxxxxxxxxxxxxxxxxxxxx.</span></p>
				</div>
				<div class="col-md-3 footer-grid animated wow slideInLeft" data-wow-delay=".6s">
					<h3>Contact Info</h3>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Arellano St, Dagupan City <span>Pangasinan.</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:hobbyshop@gmail.com">hobbyshop@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+639xxxxxxxxx</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="footer-logo animated wow slideInUp" data-wow-delay=".5s">
				<h2><a href="/">POHM.PH<span>Hobbyist Shop</span></a></h2>
			</div>
		</div>
	</div>
<!-- //footer -->