<!-- header -->
<nav>
	<div class="header">
		<div class="container">
			<div class="header-grid">
				<div class="header-grid-left animated wow slideInLeft" data-wow-delay=".5s">
					<ul>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:hobbyshop@gmail.com">hobbyshop@gmail.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+639x <span>xxx</span> xxxx</li>
						<li><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i><a href="login">Login</a></li>
						<li><i class="glyphicon glyphicon-book" aria-hidden="true"></i><a href="register">Register</a></li>
						<li><i class="glyphicon glyphicon-king" aria-hidden="true"></i><a href="premium">Premium</a></li>
					</ul>
				</div>

				<div class="clearfix"> </div>
			</div>
			<div class="logo-nav">
				<div class="logo-nav-left animated wow zoomIn" data-wow-delay=".5s">
					<h1><a href="index">POHM.PH <span>Hobbyist Shop</span></a></h1>
				</div>
				<div class="logo-nav-left1">
					<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header nav_2">
						<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav">
							{{!-- <li><a href="/">Home</a></li> --}}
							<!-- Mega Menu -->
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Events<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>AUCTION</h6>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>xxxxxxxxxxx</h6>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
											</ul>
										</div>
										<div class="col-sm-4">
											<ul class="multi-column-dropdown">
												<h6>xxxxxxxx</h6>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
												<li><a href="products.html">xxxxxxx</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-3">
									<div class="row">
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h3><a href="#">Action Figures</a></h3>
														<li><a href="#">Figma</a></li>
														<li><a href="#">MAFEX</a></li>
														<li><a href="#">Nendoroid</a></li>
														<li><a href="#">Play Arts Kai</a></li>
														<li><a href="#">Revoltech</a></li>
														<li><a href="#">S.H. Figuarts</a></li>
														<li><a href="#">Popular Series</a></li>

												<h3><a href="#">Anime</a></h3>
													<h5><a href="#"><strong>Figures</strong></a></h5>
														<li><a href="#">figma</a></li>
														<li><a href="#">Nendoroid</a></li>
														<li><a href="#">Stuff Animals and Plush Toys</a></li>
														<li><a href="#">Trading Figures</a></li>
													<h5><a href="#"><strong>Fun Goods</strong></a></h5>
														<li><a href="#">Strap</a></li>
														<li><a href="#">Stationery</a></li>
														<li><a href="#">Mobile Phones Accessories</a></li>
														<li><a href="#">Acrylic Stands</a></li>
														<li><a href="#">Popular Series</a></li>

												<h3><a href="#">Science Fiction</a></h3>
														<li><a href="">Action Figures</a></li>
														<li><a href="">Completed Models</a></li>
														<li><a href="">High-Grade Kits</a></li>
														<li><a href="">Injection Kits</a></li>
														<li><a href="">Resin Kits</a></li>
														<li><a href="">Science-Fiction related Books/Magazine</a></li>
														<li><a href="">Toys</a></li>
														<li><a href="#">Popular Series</a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h3><a href="#">Gundam</a></h3>
												<li><a href="">High-Grade Kits</a></li>
												<li><a href="">Real-Grade Kits</a></li>
												<li><a href="">RE/100 Kits</a></li>
												<li><a href="">Master-Grade Kits</a></li>
												<li><a href="">Perfect-Grade Kits</a></li>
												<li><a href="">SD Gundam Kits</a></li>
												<li><a href="">Non-Grade Kits</a></li>
												<li><a href="">Action Figures</a></li>
												<li><a href="">Detailing Kits/Accessories</a></li>
												<li><a href="">Gundam Universe Books/Magazines</a></li>
													<li><a href="#">Popular Series</a></li>
												<h3><a href="#">Scale Model</a></h3>
													<li><a href="">Aircraft</a></li>
													<li><a href="">Military</a></li>
													<li><a href="">Ships</a></li>
													<li><a href="">Cars & Bikes</a></li>
													<li><a href="">Hobby Supplies</a></li>
													<li><a href="#">Scale Models by Manufacturer</a></li>
												<h3><a href="#">More</a></h3>
													<li><a href="#">Books & Magazine</a></li>
													<li><a href="#">Foods</a></li>
													<li><a href="#">Stationery</a></li>
													<li><a href="#">Apparel</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li><a href="/products">Shop</a></li>
							<li><a href="/orders">Orders</a></li>
							<li><a href="/client/add-product">Add Products</a></li>
							<li><a href="/client/c-products">My Products</a></li>

						</ul>
					</div>
					</nav>
				</div>
				<div class="logo-nav-right">
					<div class="search-box">
						<div id="sb-search" class="sb-search">
							<form>
								<input class="sb-search-input" placeholder="Enter your search here..." type="search" id="search">
								<input class="sb-search-submit" type="submit" value="">
								<span class="sb-icon-search"> </span>
							</form>
						</div>
					</div>
						<!-- search-scripts -->
						<script src="/public/js/classie.js"></script>
						<script src="/public/js/uisearch.js"></script>
							<script>
								new UISearch( document.getElementById( 'sb-search' ) );
							</script>
						<!-- //search-scripts -->
				</div>

				<div class="header-right">
					<div class="cart box_1">
						<a href="/cart">
							<h3> <div class="total">
								item/s
								<img src="/public/images/bag.png" alt="" />
							</h3>
						</a>
						<p><a href="javascript:;" class="simpleCart_empty"></a></p>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</nav>

<!-- //header -->